@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body, #page {
	height:100%;
}

html {
	display:block;
}


body {
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:1.5;
	font-size:87.5%;
	word-wrap:break-word;
	margin:0;
	padding:0;
	border:0;
	outline:0;
	color:#3b3b3b;
}

div {
	display:block;
}

#skip-link {
	left: 50%;
	margin-left: -5.25em;
	margin-top: 0;
	position: absolute;
	width: auto;
	z-index: 50;
}

#toolbar {
	background: #666;
	color: #CCC;
	font: normal small "Lucida Grande", Verdana, sans-serif;
	left: 0;
	margin: 0 -20px;
	padding: 0 20px;
	position: fixed;
	right: 0;
	top: 0;
	-moz-box-shadow: 0 3px 20px #000;
	-webkit-box-shadow: 0 3px 20px black;
	box-shadow: 0 3px 20px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000, direction='180', strength='10')";
	z-index: 600;
	border: 0;
	font-size: 100%;
	line-height: inherit;
	list-style: none;
	outline: 0;
	text-align: left;
	vertical-align: baseline;
}

#page-wrapper {
	min-height:100%;
	min-width:960px;
}

#page-wrapper, #footer-wrapper {
	background:#292929;
}

#page, #main-wrapper, 
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
	background:white;
}

#header {
	/*background-color:#48a9e4;*/
	background:url(header_8.jpg) repeat-x;
	min-height:30px;
}

#header div.section {
	position:relative;
}

#site-name {
	font-weight:normal;
	color:white;
	margin-bottom:0;
}

#site-name .title {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.5em;
	letter-spacing:0;
	margin-right:15px;
}

#site-name .subtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:.8em;
	text-transform:uppercase;
}

h3#site-subtitle {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12pt;
	color:white;
	letter-spacing:0;
	margin:0;
}

#header div.section,
#main, #footer, #footer-columns {
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#header, #footer-wrapper, 
ul.links, ul.primary, .item-list 
table {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-wrapper {
	min-height:300px;
}

.clearfix::after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}


#footer-wrapper {
	color:silver;
	font-size:.857em;
	padding:35px 5px 30px;
}

#footer {
	letter-spacing: 0.2px;
	margin-top: 30px;
	border-top: 1px solid #555;
	border-color: rgba(255, 255, 255, 0.15);
	width:940px;
	min-width:920px;
}

#footer .region {
	margin-top:20px;
}

#footer a {
	color:#ccc;
	text-decoration:none;
}

#footer a:hover {
	text-decoration:underline;
}



h1, h2, h3 ,h4 ,h5, h6 {
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

ul#repo-list li {
	list-style:none;
	display:inline-block;
	width:140px;
	float:left;
	padding:5px;
	margin:1em;
	height:190px;
	border:thin solid #999;
}

ul#repo-list li a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.1em;
	letter-spacing:0;
	color:white;
	width:140px;
	height:190px;
	text-shadow: 2px 2px 3px #333;
}

ul#repo-list li a:hover {
	text-decoration:underline;
}




@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
